body {
    background: #c274bd;
    background: linear-gradient(90deg, rgba(194, 116, 189, 1) 12%, rgba(232, 140, 125, 1) 36%, rgba(171, 72, 138, 1) 74%, rgba(65, 72, 209, 1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
}

.SiteContent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}