body {
    background: #6200ff;
    background: linear-gradient(90deg, rgba(98, 0, 255, 1) 20%, rgba(171, 91, 112, 1) 50%, rgba(167, 199, 72, 1) 80%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
}

.SiteContent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}