body {
    background: #d49dce;
    background: linear-gradient(90deg, rgba(212, 157, 206, 1) 13%, rgba(164, 154, 237, 1) 40%, rgba(42, 135, 140, 1) 60%, rgba(82, 80, 171, 1) 93%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
}

.SiteContent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}