body {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 141, 29, 1) 50%, rgba(252, 69, 69, 1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
}

.SiteContent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.KernelArchitekturenBasics, .UserspaceKernelspace, .Kernelarten, .Fazit {
    margin-bottom: 45px;
}