body {
    background: #c27485;
    background: linear-gradient(90deg, rgba(194, 116, 133, 1) 13%, rgba(230, 161, 220, 1) 40%, rgba(114, 72, 150, 1) 75%, rgba(77, 53, 133, 1) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
}