body {
    background: #c5c748;
    background: radial-gradient(circle, rgba(197, 199, 72, 1) 20%, rgba(138, 220, 146, 1) 40%, rgba(48, 252, 246, 1) 60%, rgba(163, 51, 232, 1) 80%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
}

.SiteContent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}