body {
    background: #02736a;
    background: linear-gradient(90deg, rgba(2, 115, 106, 1) 13%, rgba(157, 146, 209, 1) 40%, rgb(142, 141, 202) 60%, rgba(167, 167, 168, 1) 93%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    list-style-position: inside;
    text-align: center;
}

.SiteContent {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}